
html,body {
    font-family:Verdana,sans-serif;
    font-size:15px;line-height:1.5;
}
html{overflow-x:hidden}
h1{font-size:36px}h2{font-size:30px}h3{font-size:24px}h4{font-size:20px}h5{font-size:18px}h6{font-size:16px}.w3-serif{font-family:serif}
h1,h2,h3,h4,h5,h6{font-family:"Segoe UI",Arial,sans-serif;font-weight:400;margin:10px 0}.w3-wide{letter-spacing:4px}
hr{
    border:0;
    border-top:1px solid #eee;
    margin:20px 0;
}
.background {
    background-color: rgb(35, 34, 34);
}
.news-container {
    display: flex;
    background-color: rgb(35, 34, 34);
}
.padding-bottom {
    padding-bottom: 1.2em;
}
.simg {
    border-bottom-left-radius: 2.5%;
    border-top-left-radius: 2.5%;
    border-top-right-radius: 2.5%;
    border-bottom-right-radius: 2.5%;
}
.center {
    text-align: center;
    padding-left: 5em;
}
.container {
    background-color: black;
    color: yellow;
}
.news-container div {
    border: none;
    padding: 10px;
}
.footer-container {
    background-color: rgb(30, 2, 2);
    text-align: center;
    color: white;
}
.footer {
    padding-top: 2em;
}
.footer-links {
    padding-top: .8em;
    padding-bottom: 1.2em;
}
.margin-top {
    margin-top: 3em;
}
.container-1 {
    flex: 1;
}
.container-2 {
    flex: 1;
}
.container-3 {
    flex: 1;
}
.link{
    color: yellow;
    font-family: helvetica;
    text-decoration: none;
    text-transform: uppercase;
    cursor: pointer;
}
.link:hover {
    text-decoration: underline;
}
