@import url('https://fonts.googleapis.com/css?family=Indie+Flower&display=swap');
@import url('https://fonts.googleapis.com/css?family=Exo+2&display=swap');

/*html*/
html,body {
    font-family: 'Indie Flower';
}
html{overflow-x:hidden}
h1{font-size:36px}h2{font-size:30px}h3{font-size:24px}h4{font-size:20px}h5{font-size:18px}h6{font-size:16px}.w3-serif{font-family:serif}
h1,h2,h3,h4,h5,h6{font-weight:400;margin:10px 0}.w3-wide{letter-spacing:4px}
hr{
    border: .5px;
    border-top:1px solid black!important;
    margin:20px 0;
}
ul {
    list-style-type: none;
}
/*container*/
.news-container {
    display: flex;
    background-color: rgb(15, 14, 14);
    border-bottom-left-radius: 2.5%;
    border-top-left-radius: 2.5%;
    border-top-right-radius: 2.5%;
    border-bottom-right-radius: 2.5%;
}
.container {
    background-color: rgb(32, 28, 28);
    color: whitesmoke;
    font-family: 'Indie Flower', cursive;
}
.news-container div {
    border: none;
    padding: 10px;
}
.footer-container {
    background-color: rgb(19, 16, 16);
    text-align: center;
    color: white;
}
.footer {
    padding-top: 1.5em;
    padding-bottom: .8em;
}
.footer-links {
    padding-top: .8em;
    padding-bottom: 1.2em;
}
.margin-top {
    margin-top: 3em;
}
.container-1 {
    flex: 1;
}
.container-2 {
    flex: 1;
}
.container-3 {
    flex: 1;
}
.rattings-container {
    
}
/*colour*/
.background {
    background-color: rgb(35, 34, 34);
}
.black {
    background-color: black!important;
}
/*paddina and margin*/
.padding-bottom {
    padding-bottom: 1.2em;
}
.action {
    color: whitesmoke!important;
}

/*img*/

.simg {
    border-bottom-left-radius: 2.5%;
    border-top-left-radius: 2.5%;
    border-top-right-radius: 2.5%;
    border-bottom-right-radius: 2.5%;
}
 /* others*/
.link{
    color: whitesmoke;
    font-family: helvetica;
    text-decoration: none;
    text-transform: uppercase;
    cursor: pointer;
}
.link:hover {
    text-decoration: underline;
}
/* text */
.center {
    text-align: center;
    padding-left: 5em;
}
.title-text {
    font-size: 1rem;
    font-weight: 700;
    font-style: italic;
    font-family: 'Exo 2', sans-serif;
}
.list-text {
    font-family: 'Exo 2', sans-serif;
    font-size: 1.2rem;
    font-style: normal;
    padding-top: .5em;
    padding-bottom: .1em;
}
.link-text {
    font-size: .6rem;
    font-weight: 700;
    font-style: italic;
    font-family: 'Exo 2', sans-serif;
}
